<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>NodeJS Chat</title>
    <link rel="stylesheet" href="../public/assets/css/style.css">
  </head>
  <body>
    <div id="main">
      <div id="main2">
        <h5 class="barre"> 4g</h5>

        <h4>NodeJS Chat</h4>
        <div class="valide">
          <p>Votre message a bien été envoyé.</p>
        </div>
        <div class="erreur">
          <p>Erreur, votre message n'a pas été envoyé.</p>
        </div><br>
        <input type="text" name="" placeholder="Pseudo">
        <input type="text" name="" placeholder="Message"><br>
        <button type="button" name="button">Envoyer</button>
      </div>
      <p class="touche">o</p>
    </div>
  </body>
</html>
