p{
  font-family: sans-serif;
  color: #302f2f;
}
#main{
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  min-width: 500px;
  min-height: 800px;
  max-height: 800px;
  border: 25px solid black;
  border-radius: 15px;
}
#main2{
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  max-width: 460px;
  min-width: 460px;
  min-height: 700px;
  max-height: 700px;
  border: 3px solid black;
  border-radius: 15px;
  padding-left: 4px;
  padding-right: 4px;
}
.touche{
  margin-top: -5px;
  text-align: center;
  font-weight: bold;
  font-size: 68px;
}
.barre{
  border-bottom: 1px solid black;
}
.valide{
  border: 1px #e5e5e5 solid;
  border-radius: 8px;
  background-color: #9ff99a;
  margin-bottom: 7px;
  padding-left: 8px;
}
.erreur{
  border: 1px #e5e5e5 solid;
  border-radius: 8px;
  background-color: #ed8484;
  margin-bottom: 7px;
  padding-left: 8px;
}
button{
  border: 0px;
  margin: 5px;
  padding: 15px;
  padding-left: 25px;
  padding-right: 25px;
  background-color: #e2e2e2;
}
input{
  border:0px;
  margin-left: 5px;
  padding: 15px;
  margin-bottom: 10px;
  border: 1px solid #e2e2e2;
}
